{% extends '../../layout/base.html' %}

{% block main_content %}

	<div class="text-decor">
		<h2 class="titulo"> {{perfil}} </h2>
		{% comment %} CRUD / TODO {% endcomment %}

		{% comment %} <p class="center"><strong>Celular: </strong> {{ perfil.perCel}} </p>
		<p class="center"><strong>Telefono: </strong> {{ perfil.perTel}} </p>
		<p class="center"><strong> Contacto de Emergencias: </strong>{{ perfil.perContactoEmerg}} </p>
		<p class="center"> <strong>Fecha de Nacimiento: </strong>{{ perfil.perFecNac}} </p>
		<p class="center"><strong>Alergias: </strong>{{ perfil.perAlerg}} </p>
		<p class="center"><strong>Enfermedades: </strong>{{ perfil.perEnfer}} </p>
		<p class="center"><strong>Medicamentos: </strong>{{ perfil.perMedi}} </p>
		<p class="center"><strong>Referencias: </strong>{{ perfil.perRefe}} </p> {% endcomment %}
		
	</div>

{% endblock main_content %}
