{% extends "../modalNoForm.html" %}

{% block modal_content %}
  <h2 class="text-center py-3 m-0">Nuevo Turno</h2>
  <form class="d-flex flex-column gap-3 pb-3 px-sm-2 px-md-4" autocomplete="off" method="POST" id="form_turn_modal">
    {% csrf_token %}
    <label class="fs-6 text-start">
      Fecha:
      <input type="date" name="turDate" min="{% now "Y-m-d" %}" class="input-control" required>
    </label>
    <label>
      Hora desde:
      <input type="time" name="turHrFrom" min="09:00" max="18:00" step="1800" class="input-control" required>
    </label>
    <label>
      ServiceType:
      <select name="serviceType" class="input-control" required>
        <option value="" selected="">---------</option>
      </select>
    </label>
    <button type="submit" class="btn btn-primary w-fit mx-auto my-2">Pedir Turno</button>
  </form>
  {% comment %} Hacer un slider/progress donde al presionar 'Cancelar turno' pase al siguiente vista y muestre un cartel de confirmación de eliminación {% endcomment %}
{% endblock modal_content %}
