<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}

    {% block extra_css %} {% endblock extra_css%}

    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="shortcut icon" href="{% static 'img/logoPequenio.png' %}" type="image/x-icon">

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    <title>{% block title %}Artemys{% endblock %}</title>
  </head>

  <body>
    {% include "_partials/header.html" with id_btn_modal1="btnCalendar" idModal1="modalCalendar" id_btn_modal2="btnTurn" idModal2="modalTurn" %}

    <main class="d-flex flex-column bg-body w-100">
      {% block main_content %}{% endblock main_content %}
    </main>
    
    {% include "_partials/footer.html" %}
    
    <script type="text/javascript">
      const $navBar = document.getElementById('navbarHeader')
      
      const sizeBreakPoint = () => {
        if (window.innerWidth >= 992 && $navBar.classList.contains('bg-secondary')) {
          $navBar.classList.remove('bg-secondary', 'bg-gradient')
        }
    
        if (window.innerWidth < 992 && !$navBar.classList.contains('bg-secondary')) {
          $navBar.classList.add('bg-secondary', 'bg-gradient')
        }
      }

      const toasterShow = () => {
        const toasters = document.querySelectorAll(".toaster.show")
        toasters.forEach(el => setTimeout(() => el.remove(), 5000))
      }
      
      const calendar = () => {
        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
          themeSystem: 'bootstrap5',
          locale: 'es',
          headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridDay,listMonth'
          },
          height: 'auto',
          dayMaxEvents: true,
          /*
            // https://fullcalendar.io/docs/event-object
            // https://fullcalendar.io/docs/event-parsing
           events: [
            {
              title: 'All Day Event',
              start: '2024-08-01',
              textColor: '',
              backgroundColor: '',
            },
            {
              title: 'Long Event',
              start: '2024-08-07',
              end: '2024-08-10'
            },
            {
              groupId: '999',
              title: 'Repeating Event',
              start: '2024-08-09T16:00:00'
            },
            {
              groupId: '999',
              title: 'Repeating Event',
              start: '2024-08-16T16:00:00'
            },
            {
              title: 'Conference',
              start: '2024-08-11',
              end: '2024-08-13'
            },
            {
              title: 'Meeting',
              start: '2024-08-12T10:30:00',
              end: '2024-08-12T12:30:00'
            },
            {
              title: 'Birthday Party',
              start: '2024-08-13T07:00:00'
            },
            {
              title: 'Click for Google',
              url: 'https://google.com/',
              start: '2024-08-28'
            }
          ]
          */

          dateClick: function(info) {
            console.log(info, info.jsEvent)
            console.log('Clicked on: ' + info.dateStr);
            console.log('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            console.log('Current view: ' + info.view.type);
            // change the day's background color just for fun
            // info.dayEl.style.backgroundColor = 'red';
            // mostrar un modal con la info de la fecha seleccionada
            const favDialog = document.getElementById("modalTurn");
            // favDialog.querySelector('h3').innerText = info.dateStr
            // 2024-08-09T00:00:00-03:00 -> dividir en
            /*
            '2024-08-09T00:00:00-03:00' -> cadena
            ['2024-08-09', '00:00:00-03:00'] -> dividirlo por 'T'
            '00:00:00-03:00' --cortar la cadena por '-'--> '00:00:00'
            Necesario ['2024-08-09', '00:00:00']
            usar los valores para los inputs */
            favDialog.showModal()
          }
        });
        calendar.render();
      }
      // buscar forma para pasar una funcion como parametro
      const modalShow = () => {
        const updateButton = document.getElementById("btnCalendar");
        const favDialog = document.getElementById("modalCalendar");
  
        updateButton.addEventListener("click", () => {
          favDialog.showModal()
          calendar()
        });

        favDialog.addEventListener("click", ev => {
          if (ev.target === favDialog)
            favDialog.close()
        })
      }

      const modalTurnShow = (dateStr='') => {
        const updateButton = document.getElementById("btnTurn");
        const favDialog = document.getElementById("modalTurn");
  
        updateButton.addEventListener("click", () => {
          favDialog.showModal()
        });

        favDialog.addEventListener("click", ev => {
          if (ev.target === favDialog)
            favDialog.close()
        })
      }
    
      document.addEventListener('DOMContentLoaded', () => {
        sizeBreakPoint();
        toasterShow();
        modalShow();
        modalTurnShow();
      })
    
      window.addEventListener('resize', sizeBreakPoint)

      {% block extra_js %}{% endblock extra_js %}
    </script>
  </body>
</html>
