<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Load JavaScript from Fullcalendar #}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    {% load static %}

    {% block extra_css %} {% endblock extra_css%}

    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="shortcut icon" href="{% static 'img/logoPequenio.png' %}" type="image/x-icon">

    <title>{% block title %}Artemys{% endblock %}</title>
  </head>

  <body>
    {% include "_partials/header.html" with id_btn_modal1="btnCalendar" idModal1="modalCalendar" id_btn_modal2="btnTurn" idModal2="modalTurn" %}

    <main class="d-flex flex-column bg-body w-100">
      {% block main_content %}{% endblock main_content %}
    </main>
    
    {% include "_partials/footer.html" %}
    
    <script type="text/javascript">
      const $navBar = document.getElementById('navbarHeader')
      const $formTurn = document.getElementById('form_turn_modal')
      
      const sizeBreakPoint = () => {
        if (window.innerWidth >= 992 && $navBar.classList.contains('bg-secondary')) {
          $navBar.classList.remove('bg-secondary', 'bg-gradient')
        }
    
        if (window.innerWidth < 992 && !$navBar.classList.contains('bg-secondary')) {
          $navBar.classList.add('bg-secondary', 'bg-gradient')
        }
      }

      const toasterShow = () => {
        const toasters = document.querySelectorAll(".toaster.show")
        toasters.forEach(el => setTimeout(() => el.remove(), 5000))
      }
      
      const calendar = () => {
        /*let eventos = []
        fetch("{% url 'turnos' %}")
          .then(res => res.json())
          .then(result => {
            const data = result.data
            const endDate = new Date()
            data.forEach(dcc => {
              const startDate = new Date(`${dcc.turDate}T${dcc.turHrFrom}`)
              const [hr, mt] = dcc.serviceType__serTime.split(':')
              const endDate = new Date(hr*3600000 + mt* 60000 + startDate.getTime())
              
              eventos.push({title: dcc['serviceType__serName'], start: startDate, end:endDate})
            })
          })*/

        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
          themeSystem: 'bootstrap5',
          locale: 'es',
          headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridDay,listMonth'
          },
          height: 'auto',
          dayMaxEvents: true,
          events: "/turnos",
          // https://fullcalendar.io/docs/events-json-feed
          // ver forma de usar solo el link para pedir los datos mediante el

          dateClick: function(info) {
            const favDialog = document.getElementById("modalTurn")
            if (Date.now() <= info.date.getTime()) {
              favDialog.showModal()
              if (!info.dateStr.includes('T'))
                $formTurn.turDate.value = info.dateStr
              else {
                const listCad = info.dateStr.slice(0,-6).split('T')
                $formTurn.turDate.value = listCad[0]
                $formTurn.turHrFrom.value = listCad[1]
              }
            }
          },
          eventClick: function(info) {
            alert('Event: ' + info.event.title);
            alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            alert('View: ' + info.view.type);
            // hacer un modal (sin form) para mostrar la info y un boton para cancelar el turno siempre que la fecha seleccionada sea mayor o igual a la actual.
          }
        });
        calendar.render();
      }

      const modalShow = () => {
        const updateButton = document.getElementById("btnCalendar");
        const favDialog = document.getElementById("modalCalendar");
  
        updateButton.addEventListener("click", () => {
          favDialog.showModal()
          calendar()
        });

        favDialog.addEventListener("click", ev => {
          if (ev.target === favDialog)
            favDialog.close()
        })
      }

      const modalTurnShow = (dateStr='') => {
        const updateBtn = document.getElementById("btnTurn")
        const favDialog = document.getElementById("modalTurn")
        const closeBtn = favDialog.querySelector('.modal-close')
  
        updateBtn.addEventListener("click", () => {
          favDialog.showModal()
        });

        favDialog.addEventListener("click", ev => {
          if (ev.target === favDialog || ev.target === closeBtn)
            favDialog.close()
        })
      }

      function serviceTypeData() {
        const $selectTurn = $formTurn.serviceType
        fetch("{% url 'lista_servicios' %}")
          .then(res => res.json())
          .then(result => {
            const { data } = result
            data.forEach(el => {
              const $option = document.createElement('option')
              $option.value = el.id
              $option.innerText = el.serName
              $selectTurn.appendChild($option)
            })
          })
      }
    
      document.addEventListener('DOMContentLoaded', () => {
        sizeBreakPoint();
        toasterShow();
        {% if request.user.is_authenticated %}
          modalShow();
          modalTurnShow();
          serviceTypeData();
        {% endif %}
      })
    
      window.addEventListener('resize', sizeBreakPoint)

      {% block extra_js %}{% endblock extra_js %}
    </script>
  </body>
</html>
