{% extends '../../layout/base.html' %}

{% block main_content %}
	<div class="col-10 col-lg-6 mx-auto mt-3 py-2 min-dvh-100 ">
    <h1 class="text-center">Grantia de los Servicios</h1>
    <p>La garantía es la forma que tenemos en Artemys Atelier de reparar errores que ocasionalmente pudiesen ocurrir. <span class="fw-bold">NO</span> es para obtener un servicio gratuito. El staff evaluara todos los pedidos de garantía solicitados en las 48hs de realizado el servicio, teniendo en cuenta los siguientes paramatros:</p>
    <ul class="pb-3">
      <li>No se cubrira casos donde el servicio sea retirado o quebrado (por mal uso o golpes).</li>
      <li>No incluye un cambio de color o diseño.</li>
      <li>Si las uñas estan afectadas fuertemente por casos hormonales, no habrá garantía.</li>
      <li>No se cubrira ningun arreglo sii al momento de realizar el servicio se aviso de que no lo cubriria la garantía.</li>
      <li>En caso de no poder concretar un nuevo turno para el arreglo, el beneficio se perdera pasados los 7 días.</li>
      <li>Se debe asistir sin acompañantes por protocolos de covid.</li>
    </ul>
    <h2 class="text-center">Cuidados</h2>
    <p>Si pasan más de 48 horas y se tiene algún problema con cualquiera de los servicios probablemente sea por un mal cuidado. Para mantener el estado general de los servicios, la salud de nuestras uñas y piel y para aumentar la duracion de todos los servicios les recomendamos:</p>
    <ul>
      <li>No arrancar los productos para no debilitar las uñas, ya que esto acorta la duracion de futuros servicios.</li>
      <li>No utilizar las uñas como herramientas, así evitamos quiebres o desprendimientos prematuros.</li>
      <li>Solicitar turno para arreglar o remover servicios con desprendimiento, ya que se puede acumular humedad debajo del producto y generar hongos.</li>
      <li>Utilizar guantes al trabajar con quimicos, exponerse al agua por largos periodos de tiempo, o realizar manualidades.</li>
    </ul>
  </div>
{% endblock main_content %}
