{% extends '../../layout/base.html' %}

{% block main_content %}
  <div class="col-10 col-lg-6 mx-auto mt-3 py-2 min-dvh-100 ">
    <h1 class="text-center">Turnos para un Servicio</h1>
    <p>En Artemys Atelier trabajamos con una agenda para organizar de manera eficiente a clientes y manicuras, es por eso que al solicitar un turno les recordamos:</p>
    <ul>
      <li>El limite de tolerancia por llegada tarde es de 15 minutos, pasado ese tiempo se perdera el turno y para reagendar se debera abonar una seña del 50%.</li>
      <li>En caso de no poder asistir al turno, el mismo deberá ser cancelado 36 horas antes, de lo contrario para reagendar se debera abonar una seña del 50%.</li>
      <li>Al turno se debe asistir sin cremas, talcos, aceites o esmalte tradicional, esto es porque de quedar resuiduos en las uñas se verá afectada a la duracion de los servicios.</li>
      <li>Se debe consultar los precios de las remociones ya que dependiendo del material los precios pueden variar.</li>
      <li>Antes de comenzar el turno se recomienda consultar por el precio del diseño ya que puede variar de lo publicado.</li>
      <li>Se debe asistir sin acompañantes por protocolos de covid.</li>
    </ul>
  </div>
{% endblock main_content %}
