{% extends '../../layout/base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block main_content %}
  <section class="container py-4 d-flex justify-content-center align-items-center">
    <div class="w-lg-40 p-3 d-flex flex-column gap-3 text-center border border-2 border-primary-site rounded-5 shadow-primary">
      <h2>Su contraseña se reestableció correctamente </h2>
      <div class="d-flex w-fit mx-auto mx-lg-0">
        <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
      </div>
    </div>
  </section>
{% endblock main_content %}
