{% extends '../../layout/base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block main_content %}
  <section class="form-main">
    <div class="form-content">
      <div class="box">
        <form method="POST">
          <h2>Recuperar Contraseña</h2>
          {% csrf_token %}
          <div class="input-box">
            {{form}}
          </div>
          <button type="submit" class="btn"><i class="fa-regular fa-envelope"></i>Enviar Email</button>
        </form>
      </div>
    </div>
  </section>
{% endblock main_content %}
